#decision2016	#primaries	#presidentialdebate	#nyprimary	#election	#election2016	#politics	#tedcruz	#cruzcrew	#choosecruz	#cruz2016	#unitewithcruz	#nevercruz	#hillaryclinton	#hillary2016	#clinton2016	#clinton	#imwithher	#neverhillary	#kasich	#KasichForUs	#johnkasich	#kasich2016	#neverkasich	#bernie	#berniesanders	#feelthebern	#stillsanders	#sanders	#trump	#trump2016	#antitrump	#nevertrump	#donaldtrump	#trumptrain